
<nav class="sider">
  <div class="sider__wrap">
    <div class="sider__menu">
      <div class="sider__menu-title">MAIN HOME </div>
      <ul>
        <li> <a href="#"><i class="fa-brands fa-windows"></i>  Dashboard</a></li>
      </ul>
    </div>
    <div class="sider__menu">
      <div class="sider__menu-title">ALL PAGE </div>
      <ul> 
        <li><a class="true" href="#"><i class="fa-solid fa-cart-shopping"></i>  Sản Phẩm</a></li>
        <li><a class="true" href="#"><i class="fa-solid fa-layer-group"></i>  Danh Mục</a></li>
        <li><a class="true" href="#"><i class="fa-regular fa-user"></i>  Tài khoản</a></li>
        <li><a class="true" href="#"><i class="fa-solid fa-user-plus"></i>  Nhóm Quyền</a></li>
      </ul>
    </div>
    <div class="sider__menu">
      <div class="sider__menu-title">SETTING </div>
      <ul> 
        <li><a class="true" href="#"><i class="fa-solid fa-gear"></i>  Cài đặt </a></li>
      </ul>
    </div>
  </div>
</nav>