doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- favicon
        link(href="https://cdn-icons-png.flaticon.com/512/714/714032.png" rel="icon" type="image/x-icon")
        
        //- icon
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")

        //- css
        link(rel="stylesheet" href="assets/css/style.css")

        //- title
        block title
    body 
        //- header
        include ../partials/header
        //- end header

        .main 
            //- sider
            nav(class="sider")
                div(class="sider__wrap")
                    //- main 
                    div(class="sider__menu")
                        div(class="sider__menu-title") MAIN HOME 
                        ul
                            li 
                                a(href="#" class="")
                                    i(class="fa-brands fa-windows")
                                    |   Dashboard
                    //- page
                    div(class="sider__menu")
                        div(class="sider__menu-title") ALL PAGE 
                        ul 
                            li
                                a(href="#" class)
                                    i(class="fa-solid fa-cart-shopping")
                                    |   Product
                                    
                            li
                                a(href="#" class)
                                    i(class="fa-solid fa-layer-group")
                                    |   Category
                            li
                                a(href="#" class)
                                    i(class="fa-regular fa-user")
                                    |   User
                            li
                                a(href="#" class)
                                    i(class="fa-solid fa-user-plus")
                                    |   Roles
                    //- setting
                    div(class="sider__menu")
                        div(class="sider__menu-title") SETTING 
                        ul 
                            li
                                a(href="#" class)
                                    i(class="fa-solid fa-gear")
                                    |   Setting 
            //- end sider


        

